.index  
  %form.search-form
    %input.search{:name => "search", :size => "40", :type => "search", :placeholder => "検索したい言葉を入力してください"}
    %input.btn{:name => "submit", :value => "検索", :type => "submit"}

  .list
    .upper-list
      = link_to "#" do
        .list
      = link_to "#" do
        .list
      = link_to "#" do
        .list
      = link_to "#" do
        .list
    .lower-list
      = link_to "#" do
        .list
      = link_to "#" do
        .list
      = link_to "#" do
        .list
      = link_to "#" do
        .list