.index

  .explanation
    .title
      このアプリの使い方
    .letter
      My Cooking Memoは調理したレシピを記録していくアプリです。
    .letter
      レシピの閲覧は誰でもできます。
    .letter
      レシピの投稿にはアカウントの作成が必要です。
  
  %br

  .search  
    = form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |f| 
      = f.text_field :keyword, placeholder: "レシピを検索する", class: "search-field" 
      = f.submit "検索", class: "btn"

  %br

  .pick-up
    最新の投稿
  
  %br

  .list
    - @recipes.each do |recipe|
      .upper-list
        = link_to recipe_path(recipe) do
          .image
            = image_tag recipe.image.variant(combine_options:{resize:"185x185^",crop:"185x185+0+0",gravity: :center})
            .recipe-name
              = recipe.name