.show
  .images
    .top-image
      -# = image_tag @recipe.image.variant(resize: "400x500") 
      = image_tag @recipe.image
      %br
    .text
      .title
        = @recipe.name

      .separate-line

      .materials
        使用する材料
      .material-list
        .material
          = @recipe.material
      
      -# .category
      -#   カテゴリー
      -#   = @recipe.category

      .separate-line

      .recipe
        作り方
      .references
        元レシピ：
        = @recipe.source
      
      .separate-line2

      .howto
        作り方①：
        = @recipe.howto1
      
      .separate-line2
      
      .howto
        作り方②：
        = @recipe.howto2
      
      .separate-line2

      .howto
        作り方③：
        = @recipe.howto3
      
      .separate-line2

      .howto
        作り方④：
        = @recipe.howto4

      .separate-line2

      .howto
        作り方⑤：
        = @recipe.howto5
      
      .separate-line

      .user-name
        投稿者：
        = @recipe.user.nickname

  - if user_signed_in? && current_user.id == @recipe.user_id
    = link_to edit_recipe_path(@recipe) do
      .btn
        編集する
    = link_to recipe_path(@recipe), method: :delete, data: { confirm: "本当に削除しますか？" } do
      .btn
        削除する
  
  .comments
    .new-comment
      - if current_user
        = form_with model:[@recipe, @comment], id: "post_comment", local: true do |f|
          = f.text_area :comment, class: "comment-form", placeholder: "コメントする"
          %br
          = f.submit "コメントを投稿する", class: "comment-send-btn"
      - else
        .notification
          コメントの投稿にはログインが必要です

    %br

    .comments-list
      このレシピへのコメント
      %br
      - if @comments
        - @comments.each do |comment|
          .comment-area
            .comment-upper
              .comment-user
                = comment.user.nickname
              .comment-date
                = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
            .comment-lower
              .comment-text
                = comment.comment

      



  

