.show
  .images
    .top-image
      -# = image_tag @recipe.image.variant(resize: "400x500") 
      = image_tag @recipe.image
      %br
    .text
      .title
        = @recipe.name

      .separate-line

      .materials
        使用する材料
      .material-list
        .material
          = @recipe.material
      
      -# .category
      -#   カテゴリー
      -#   = @recipe.category

      .separate-line

      .recipe
        作り方
      .references
        元レシピ：
        http://www.abc.def.com
      
      .separate-line2

      .howto
        作り方①：
        = @recipe.howto1
      
      .separate-line2
      
      .howto
        作り方②：
        = @recipe.howto2
      
      .separate-line2

      .howto
        作り方③：
        = @recipe.howto3
      
      .separate-line2

      .howto
        作り方④：
        = @recipe.howto4

      .separate-line2

      .howto
        作り方⑤：
        = @recipe.howto5
      
      .separate-line2

  - if user_signed_in? && current_user.id == @recipe.user_id
    = link_to edit_recipe_path(@recipe) do
      .btn
        編集する
    = link_to recipe_path(@recipe), method: :delete, data: { confirm: "本当に削除しますか？" } do
      .btn
        削除する

  

