!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title My Cooking Memo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    
    .header
      .header-logo
        My Cooking Memo
      %ul.menus
        = link_to root_path do
          %li.menu トップ
        = link_to  select_path do
          %li.menu レシピを見る
        - if user_signed_in?
          = link_to new_recipe_path do
            %li.menu 新規投稿
          = link_to user_path(current_user) do
            %li.menu
              = current_user.nickname
          = link_to destroy_user_session_path, method: :delete do
            %li.menu ログアウト
        - else
          = link_to users_select_path do
            %li.menu ログイン・ユーザー新規登録
      .flash-messages
        = render 'layouts/notifications'
        

  .body
    = yield

  .footer
    Copyright My Cooking Memo 2020.
